extends _layout.pug

block locals
  -var title= "index.pug";

block content
  h1 hello from template index.pug

  div#react-root

  div.main-image
    img.icon(src="../images/icon.png")
  //- img(src="../images/icon.png")
  //- img(src="../images/thumbnail.jpg")
